<div class="item-list">
    {{#each arxivItems}}
        <div class="item">
            <div>Title: {{title}}</div>
            <div>
                Authors:
                {{#each author}}
                    {{name}}
                {{/each}}
            </div>
            <div>Published data: {{published}}</div>
            <div><a href="{{id}}" class="small-button">Go to source</a></div>
        </div>
    {{/each}}
</div>