<div class="item-list">
    <p>Items</p>
    {{#if sharing}}
        <form action="/resources/shareItems" method="post">
            {{#each items}}
                <div class="item">
                    {{>itemInfo}}
                    {{#if (eq ownerUsername ../username)}}
                        <input type="checkbox" name="selectedItems" value={{id}}>
                    {{/if}}
                </div>
            {{/each}}
            <div>Recipient username:<input type="text" name="recipientUsername">
                <button type="submit">Share</button>
            </div>
        </form>
    {{else}}
        {{#each items}}
            <div class="item">
                {{>itemInfo}}
                {{#if file}}
                    <form action="/resources/getFile/{{file.id}}" method="get">
                        <button class="small-button" type="submit">Download file</button>
                    </form>
                {{/if}}
            </div>
        {{/each}}
        <form action="/resources/initSharing" method="get">
            <button class="small-button" type="submit">Share Items</button>
        </form>
    {{/if}}
</div>