 <div class="menu-bar">
        <a href="/">Home</a>
        <a href="/logout">Log out</a>
    </div>
    <div class="item-container">
        <form class="item-form" action="/addItemFile" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><div class="label">title:</div></td>
                <td><input type="text" name="title"/></td>
            </tr>
            <tr>
                <td><div class="label">author:</div></td>
                <td><input type="text" name="author"/></td>
            </tr>
            <tr>
                <td><div class="label">year:</div></td>
                <td><input type="number" name="year" min="1495" max="2024"/></td>
            </tr>
            <tr>
                <td><div class="label">genre:</div></td>
                <td> <input type="text" name="genre"/></td>
            </tr>
            <tr>
                <td><div class="label">category:</div></td>
                <td>
                    <select name="categoryId">
                        {{#each categories}}
                            <option value={{id}}>{{name}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr><td colspan="2">
                <input type="file" name="file">
            </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Add Item</button>
                </td>
            </tr>
        </table>

    </form>

{{#if message}}
    {{>messageBar}}
{{/if}}