{{>menuBarItems}}
<div class="item-container">
    <form class="item-form" action="/resources/addItem" method="post" enctype="multipart/form-data">
        <table>
            {{>itemInfoInputs}}
            <tr>
                <td>
                    <div class="label">category:</div>
                </td>
                <td>
                    <select name="categoryId">
                        {{#each categories}}
                            <option value={{id}} {{#if (eq ../formData.categoryId id)}}
                                    selected {{/if}}>{{name}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="label">status:</div>
                </td>
                <td>
                    <select name="status">
                        <option value="private">private</option>
                        <option value="public">public</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="file" name="file">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Add Item</button>
                </td>
            </tr>
        </table>

    </form>

{{#if message}}
    {{>messageBar}}
{{/if}}