{{>menuBarItems}}
<div class="item-container">
    <form class="item-form" action="/resources/getItems" method="post">
        <table>
            {{>itemInfoInputs}}
            <tr>
                <td></td>
                <td>
                    <button type="submit">Search</button>
                </td>
            </tr>
        </table>
    </form>

    {{#if items}}
        {{>itemList}}
    {{else}}
        <a class="small-button" href="/resources/getFromArxiv">Search in arxiv</a>
    {{/if}}
</div>

{{#if message}}
    {{>messageBar}}
{{/if}}