<div class="menu-bar">
    Logged in as: {{username}}
    <a href="/user/logout">Log out</a>
</div>

<div class="button-container">
    <a href="/resources/addFile" class="button">Add File</a>
    <a href="/resources/getFromArxiv" class="button">Get From Arxiv</a>
    <a href="/resources/browse" class="button">Browse</a>
    </div>

{{#if message}}
    {{>messageBar}}
{{/if}}