<div class="menu-bar">
    Welcome, {{username}}, to Research Assistance
    <a href="/user/logout">Log out</a>
</div>

<div class="button-container">
    <a href="/resources/addItem" class="button">Add Library Item</a>
    <a href="/resources/browse" class="button">Browse</a>
    <a href="/resources/getFromArxiv" class="button">Browse in Arxiv</a>
</div>

{{#if message}}
    {{>messageBar}}
{{/if}}