<div class="menu-bar">
    <div>Research Assitance</div>
    <a href="/">Home</a>
</div>
<div class="login-container">
    <form class="login-form" action="/user/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Log in</button>
        <div class="register-link">
            <a class="small-button" href="/user/signup">Register</a>
        </div>
    </form>
</div>

{{#if message}}
    {{>messageBar}}
{{/if}}