<div class="menu-bar">
    <div>Register</div>
<a href="/">Go to Log in Page</a>
</div>
{{#if message}}
    <div class="message-bar">
        <p>{{message}}</p>
    </div>
{{/if}}
    <div class="login-container">
    <form class="login-form" action="/signup" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="firstname" placeholder="Firstname">
        <input type="text" name="lastname" placeholder="Lastname">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Register</button>
    </form>
    </div>
